.number_col {
    width: 70px;
}

.hotel_header {
    background-color: rgba(75, 83, 255, 0.75);
    color: white;
}

.room_header {
    background-color: rgba(255, 205, 36, 0.75);
    color: white;
}

.employee_header {
    background-color: rgba(255, 44, 42, 0.75);
    color: white;
}

.table {
    width: 80%;
    margin: auto;
}

.display-4 {
    display: inline-block;
    padding-left: 30%;
}

img {
    height: 24px;
    width: 24px;
}

.button:active {
    width: 20px;
    height: 20px;
}

.btn {
    margin-left: 10%;
}
